.button {
  margin-top: 20px;
  cursor: pointer;
  color: aliceblue;
  font-family: Fira Code;
  font-weight: bold;
  font-size: 20px;
  outline: none;
  border-radius: 5px;
  border: none;
  width: 220px;
  height: 45px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.button:hover {
  box-shadow: none;
  transform: scaleX(1.2);
}
#google-btn {
  background-color: #ff5252;
}
#google {
  margin-left: -30px;
  margin-right: 10px;
  background-color: white;
  border-radius: 50px;
  color: #ff5252;
}
#facebook-btn {
  background-color: #3b5998;
}
#facebook {
  margin-right: 15px;
  background-color: aliceblue;
  border-radius: 50px;
  color: blue;
}
#twitter-btn {
  background-color: #1da1f2;
}
#twitter {
  margin-right: 15px;
  background-color: aliceblue;
  border-radius: 50px;
  color: #1da1f2;
}
#github-btn {
  background-color: #24292e;
}
#github {
  margin-right: 15px;
  background-color: aliceblue;
  border-radius: 50px;
  color: #24292e;
}
#mail-btn {
  background-color: #4b515d;
}
#mail {
  margin-right: 15px;
  background-color: aliceblue;
  border-radius: 50px;
  color: #24292e;
}
